<!-- Home Starts Here-->


<!-- Hero Section -->
<section class="flex flex-col w-full">
  <div class="relative w-full" data-controller="hero">
    <video autoplay muted loop class="w-full" data-hero-target="video">
      <source src="<%= asset_path('hero.webm') %>" type="video/webm">
    </video> 
    <button data-hero-target="audio" data-action="click->hero#toggle" class="absolute bottom-10 right-10 xl:bottom-36 xl:right-36 2xl:bottom-48 2xl:right-48 p-[0.5rem] text-xs sm:text-sm md:text-base md:p-[1rem] z-[10] bg-black bg-opacity-30 text-white underline border border-white"> AUDIO: OFF </button>
  </div>
</section>


<!-- Text Banner -->
<section class="max-w-[100%] overflow-hidden py-5 mb-5">
  <div class="marquee">
    <p class="text-white font-bold text-6xl md:text-9xl text-stroke mx-5" style="--stroke-size: 1px; --stroke-color: black;">CAPABILITIES</p>
    <p class="text-black font-bold text-6xl md:text-9xl text-stroke mx-5" style="--stroke-size: 1px; --stroke-color: black;">CAPABILITIES</p>
    <p class="text-white font-bold text-6xl md:text-9xl text-stroke mx-5" style="--stroke-size: 1px; --stroke-color: black;">CAPABILITIES</p>
    <p class="text-black font-bold text-6xl md:text-9xl text-stroke mx-5" style="--stroke-size: 1px; --stroke-color: black;">CAPABILITIES</p>
  </div>
</section>


<!-- Services -->
<section class="flex flex-col md:flex-row w-full border-t border-b border-black">
  <div class="flex w-full  md:w-[50%] border-r-0 md:border-r border-black">
    <%= image_tag asset_path("rings"), class: "image-rotate max-w-[75%] m-auto p-10 sm:p-16", style: "object-fit: cover;", data: { controller: "image-spinner", "image-spinner-rotation-factor-value": 0.1 } %>
  </div>
  <div class="flex flex-col items-center sm:items-start p-10 sm:p-16 w-full md:w-[50%]">
    <%= link_to "SEE OUR SERVICES", find_nav_by_name("Services").materialized_path, class: "button-wipe whitespace-nowrap inline-block w-min px-[3.5rem] py-[1.5rem] text-white text-center text-sm transition-all duration-300 hover:text-black", style: "--gradient-left: black; --gradient-right: #E8E8E8;" %>
    <ul class="w-full mt-10">
      <% services.each do |service| %>
        <li class="py-3 border-t border-black" data-controller="accordion">
          <span class="flex flex-row justify-between items-center">
            <p class="text-lg"><%= service.title %></p>
            <i class="fa-solid fa-circle-chevron-down text-2xl hover:text-black transition-all duration-300 hover:cursor-pointer" data-action="click->accordion#toggle" data-accordion-target="icon"></i>
          </span>
          <ul class="accordion px-2 text-sm w-full" data-accordion-target="dropdown">
            <% service.content(:tag).each do |tag| %> 
              <li class="w-full flex flex-row items-center"> 
                  <%= image_tag asset_path("logo_black"), class: "w-[28px] h-[28px] mr-1" %>
                  <p>
                    <%= tag.content(:heading) %>
                  </p>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<!-- We Transform Companies -->
<section class="flex flex-col md:flex-row w-full border-b border-black bg-[#e8e8e8]">
  <div class="flex flex-col w-full justify-center items-start p-10 sm:p-16 md:w-[50%] border-r-0 md:border-r border-black">
    <h2 class="font-black font-roboto text-4xl md:text-5xl lg:text-6xl mb-5 tracking-wide"> WE <i>TRANSFORM</i> COMPANIES </h2>

    <p class="font-roboto text-base tracking-wide mb-5">
      A dauntless team of visionaries, data-driven problem solvers, 
      and curious experts with roots from various industries who 
      believe that creativity, empathy and strategy are the key to 
      impactful digital transformation and redefining perfection.
    </p>

    <%= link_to "WHY DAUNTLESS?", find_nav_by_name("About").materialized_path, class: "button-wipe whitespace-nowrap inline-block w-min px-[3.5rem] py-[1.5rem] text-white text-center text-sm transition-all duration-300 hover:text-black", style: "--gradient-left: black; --gradient-right: white;" %>
  </div>
  <div class="flex w-full  md:w-[50%] border-r-0 md:border-r border-black">
    <%= image_tag asset_path("iphone_mockup"), class: "max-w-[75%] m-auto p-10 sm:p-16", style: "object-fit: cover;" %>
  </div>
</section>

<!-- Dauntless Projects -->
<section class="flex flex-col w-full bg-[#141414]">
  <div class="w-full flex flex-row items-center border-b border-[#999999] mb-5 p-5 sm:px-16">
    <h2 class="font-black font-roboto text-white text-2xl md:text-3xl lg:text-4xl tracking-wide mr-auto"> DAUNTLESS PROJECTS </h2>
    <%= link_to "ALL WORK", find_nav_by_name("Works").materialized_path, class: "button-wipe whitespace-nowrap inline-block w-min px-[3.5rem] py-[1.5rem] text-black text-center text-sm transition-all duration-300 hover:text-black", style: "--gradient-left: white; --gradient-right: #E8E8E8;" %>
  </div>
  <div class="w-full grid grid-cols-2 grid-rows-2 gap-10 p-5 sm:px-16">
    <div class="col-span-2 md:col-span-1">
      <% works[0..2]&.each do |work| %>
        <%= link_to work.materialized_path do %>
          <span class="inline-block relative overflow-hidden mb-3 cursor-none" data-controller="hover-view">
            <%= work.content.image_tag(:preview, {}, { class: 'object-cover transition-all duration-1000', data: { hover_view_target: 'img' } }) %>
            <div class="absolute flex items-center justify-center top-0 left-0 -translate-x-full -translate-y-full w-[90px] h-[90px] text-center bg-white text-base font-bold text-black rounded-full z-[5] transition-opacity duration-300" data-hover-view-target="view">
              View
            </div>
          </span>
          <span>
            <p class="font-bold text-2xl text-white tracking-wide"> <%= work.title %> </p>
            <p class="text-base text-white tracking-wide uppercase"> <%= work.content(:category) %> </p>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="col-span-2 md:col-span-1 mt-0 md:mt-16">
      <% works[0..2]&.each do |work| %>
        <%= link_to work.materialized_path do %>
          <span class="inline-block relative overflow-hidden mb-3 cursor-none" data-controller="hover-view">
            <%= work.content.image_tag(:preview, {}, { class: 'object-cover transition-all duration-1000', data: { hover_view_target: 'img' } }) %>
            <div class="absolute flex items-center justify-center top-0 left-0 -translate-x-full -translate-y-full w-[90px] h-[90px] text-center bg-white text-base font-bold text-black rounded-full z-[5] transition-opacity duration-300" data-hover-view-target="view">
              View
            </div>
          </span>
          <span>
            <p class="font-bold text-2xl text-white tracking-wide"> <%= work.title %> </p>
            <p class="text-base text-white tracking-wide uppercase"> <%= work.content(:category) %> </p>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</section>


<!-- Home Ends Here -->


<div class="prose md:prose-lg">
  <%= content.html :body %>
</div>